<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context.xsd   
        http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--创建目标类对象-->
    <bean id="mainService" class="com.qf.service.MainServiceImpl"/>
    <!--创建通知类对象-->
    <bean id="myBefore" class="com.qf.advice.MyBefore"/>
    <bean id="myAfter" class="com.qf.advice.MyAfter"/>
    <bean id="myAround" class="com.qf.advice.MyAround"/>
    <!--创建代理对象（代理工厂返回代理对象）-->
    <bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!--整合目标类-->
        <property name="target" ref="mainService"></property>

        <!--整合通知类-->
        <property name="interceptorNames">
            <list>
                <value>myBefore</value>
                <value>myAfter</value>
                <value>myAround</value>
            </list>
        </property>
        <!--关联接口-->
        <property name="interfaces" >
            <list>
                <value>com.qf.service.MainService</value>
            </list>
        </property>
    </bean>

</beans>